.header a.navbar-brand{
    color: white;
}
.header a.nav-link.active {
    color: white !important;
}
.header a.nav-link {
    color: white !important;
}
.header a.dropdown-item{
    color: #008374;
    font-weight: bold;
}
.main{
    width: 100%;
    height: 80vh;
    background-color: #008374;
}
.main h1{
    color: white;
    padding-top: 20vh;
    margin-left: 80px;
}
.main h2 span{
    color: white;
}
main h2 span.accent{
    color: white;
}
.main p{
    color: white;
    font-size: 20px;
}
.main span i.fa-regular.fa-circle-play{
    color: white;
}
.main button{
    background-color: rgba(255, 255, 255, 0.156);
    color: #008374;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
}
.main button:hover{
    background-color: white;
    color: #008374;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
}
.main button:focus{
    outline: none;
}
.main h5{
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}