 .img-box {
      width: 400px;
      height: 300px;
      border-radius: 10px 10px 0px 10px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
    }
    .img-box img {
      max-width: 100%;
      max-height: 100%;
    }
   