.header a.navbar-brand{
    color: white;
}
.header a.nav-link.active {
    color: white !important;
}
.header a.nav-link {
    color: white !important;
}
.sliderimages
{
    width: 100%;
    height: 80vh;
}
.sliderimages img
{
    width: 100%;
    height: 100%;
}
.myslider h5{
    text-align: left;
    color: black;
}
.myslider p{
    text-align: left;
    color: black;
}
.socialone h5{
    text-align: center;
}
.socialone p{
    text-align: center;
}
.socialtwo h5{
    text-align: right;
}
.socialtwo p{
    text-align: right;
}
.myimagedata
{
    width: 100px;
    margin: auto;
    height: 100px;
}
.myimagedata img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.main
{
    text-align: center;
}